$main-background-color: #f8f8ff;
$box-background-color: #f5f5f5;

$footer-color: #4d4d4d;
$font-footer-color: #fff;

$font-title-color: #555;
$font-items-color: #555;
$box-border-color: #dedede;
$item-border-color: #ccc;
$item-hover-color: #eeeedc;

$past-date-color: rgb(199, 40, 40);

$paper-color: #ffffee;
